html {
  min-height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Fredoka One', sans-serif;
/*  background-color: #315481;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
/*  background-image: linear-gradient(to bottom, #87a9e0, #918e82 100%);*/
  background-image: linear-gradient(to bottom, #80afff, #d5e3ff 100%);
  padding: 0;
  margin: 0;
  font-size: 14px;
}

::-webkit-scrollbar { 
    display: none; 
}

@media screen and (min-width: 0px) and (max-width: 700px) {
  #main {
    width: 100%;
  }
  
  #sprite {
    left: 50%;
  }
  
  #stats {
    right: 10px;
  }
  
  #sidebar {
    display: none;
  }
}

@media screen and (min-width: 701px) {
  #main {
    width: 60%;
    width: calc(100% - 250px);
  }
  
  #sprite {
    left: 30%;
    left: -webkit-calc(50% - 125px);
    left: -moz-calc(50% - 125px);
    left: calc(50% - 125px);
  }
  
  #stats {
    right: 260px;
  }
  
  #sidebar {
    display: block;
  }
}

#main {
  color: white;
  font-family: "Press Start 2P";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

#main .title {
  height: 100px;
  opacity: 0.8;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  position: fixed;
  top: 10px;
  left: 10px;
}

#sprite {
  position: fixed;
  margin-left: -14px;
  margin-top: -72px;
  background-image: url("tony0.png");
  background-size: 28px 72px;
  width: 28px;
  height: 72px;
}

#nullroad {
  opacity: 0.5;
  position: relative;
  margin: 0 auto;
  width: 80px;
}

#nullroad::after {
  content: "";
  background-image: url("tonyroad.png");
  background-size: 80px 200px;
  background-position: bottom;
  background-repeat: repeat-y;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#road {
  position: relative;
  margin: 0 auto;
  width: 80px;
  height: 3000px;
  background-image: url("tonyroad.png");
  background-size: 80px 200px;
  background-repeat: repeat-y;
}

.achievement-right {
  background-size: 50px 50px;
  margin-left: 100px;
  position: absolute;
  left: 0;
  height: 50px;
  width: 50px;
}

.achievement-left {
  background-size: 50px 50px;
  margin-left: -70px;
  position: absolute;
  left: 0;
  height: 50px;
  width: 50px;
}

#stats {
  font-size: 12px;
  line-height: 16px;
  position: fixed;
  bottom: 10px;
  text-align: right;
}

#stats .stat-desc {
  display: none;
}

#stats:hover .stat-desc {
  display: inline;
}

#main #help {
  opacity: 0.8;
  font-size: 24px;
  position: fixed;
  bottom: 10px;
  left: 10px;
}

#sidebar {
  box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.1);
  color: #333333;
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
  margin: 0 auto;
  overflow: scroll;
  height: 100%;
  background: rgba(255,255,255,0.8);
}

#sidebar .title {
  font-size: 24px;
  font-weight: 500;
  padding: 20px 15px 15px 15px;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-family: 14px;
  opacity: 0.5;
  position: relative;
  list-style: none;
  padding: 10px 15px;
  min-height: 50px;
/*  display: flex;*/
/*  align-items: center;*/
}

li .info {
  margin-left: 10px;
  width: 160px;
  height: 50px;
  display:table-cell;
  vertical-align:middle;
}

li.unlocked {
  opacity: 1;
}