html {
  min-height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Press Start 2P', sans-serif;
  background-repeat: no-repeat;
  background-image: #6595ff;
  background-image: linear-gradient(to bottom, #6595ff 0%, #d2e2ff 100%);
/*  background-image: linear-gradient(to bottom, #ff8f80, #fad4c7 100%);*/
  padding: 0;
  margin: 0;
  color: white;
  font-size: 10px;
}

#bg {
  background-image: #333333;
  position: fixed;
  width: 100vw;
  height: 140vh;
  top: 0;
  z-index: 0;
}

.dawn {
  background-image: linear-gradient(to bottom, #7892cc 0%, #ed8d59 80%, #fafb8b 100%);
}

.day {
  background-image: linear-gradient(to bottom, #6595ff 0%, #d2e2ff 100%);
}

.dusk {
  background-image: linear-gradient(to bottom, #3153a1 0%, #e9d7ff 60%, #fafb8b 100%);
}

.night {
  background-image: linear-gradient(to bottom, #080a31 20%, #dfcbae 100%);
}

#loading {
  position: fixed;
  color: white;
  visibility: visible;
  display:flex;
  justify-content:center;
  align-items:center;
  height: 100vh;
  width: 100vw;
}

#loading-dialog {
  line-height: 14px;
  padding: 10px;
  width: 100%;
  max-width: 250px;
}

::-webkit-scrollbar { 
    display: none; 
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  #main {
    width: 100%;
  }
  
  .road-achievement-condition {
    visibility: visible;
  }
  
  #sprite {
    left: 50%;
  }
  
  #weekmarkers-container {
    right: 0;
  }
  
  #stats {
    right: 10px;
  }
  
  #sidebar {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  #main {
    width: 60%;
    width: calc(100% - 250px);
  }
  
  .road-achievement-condition {
    visibility: hidden;
  }
  
  #sprite {
    left: 30%;
    left: -webkit-calc(50% - 125px);
    left: -moz-calc(50% - 125px);
    left: calc(50% - 125px);
  }
  
  #weekmarkers-container {
    right: 250px;
  }
  
  #stats {
    right: 260px;
  }
  
  #sidebar {
    display: block;
  }
}

#main {
  color: white;
}

#nullroad {
  opacity: 0.5;
  position: relative;
  margin: 0 auto;
  width: 80px;
}

#nullroad::after {
  content: "";
  background-image: url("tonyroad.png");
  background-size: 80px 200px;
  background-position: bottom;
  background-repeat: repeat-y;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#road {
  position: relative;
  margin: 0 auto;
  width: 80px;
  height: 3900px;
  background-image: url("tonyroad.png");
  background-size: 80px 200px;
  background-repeat: repeat-y;
}

.achievement-right {
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: left top;
  margin-left: 100px;
  padding-top: 52px;
  position: absolute;
  left: 0;
  height: 50px;
  width: 50px;
  line-height: 14px;
  text-align: center;
}

.achievement-left {
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: right top;
  margin-left: -70px;
  padding-top: 52px;
  position: absolute;
  left: 0;
  height: 50px;
  width: 50px;
  line-height:14px;
  text-align: center;
}

#main .title {
  height: 100px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 4;
}

#main .title #version {
  opacity: 0;
  transition: opacity 0.25s;
}

#sprite {
  position: fixed;
  margin-left: -14px;
  margin-top: -72px;
  background-image: url("tony0.png");
  background-size: 28px 72px;
  width: 28px;
  height: 72px;
}

#weekmarkers-container {
/*  background: lightblue;*/
  opacity: 0.8;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 30px;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
          color-stop(0.00,  rgba(0,0,0,1)),
          color-stop(0.15,  rgba(0,0,0,1)),
          color-stop(0.8,  rgba(0,0,0,1)),
          color-stop(0.9,  rgba(0,0,0,0)),
          color-stop(1.00,  rgba(0,0,0,0)));}

#weekmarkers-content {
  position: relative;
}

.weekmarker {
  width: 30px;
  height: 10px;
  border-bottom: 2px solid #fff;
  position: relative;
}

#stats {
  font-size: 12px;
  line-height: 16px;
  position: fixed;
  bottom: 10px;
  text-align: right;
}

#stats .stat-desc {
  display: none;
}

#stats:hover .stat-desc {
  display: inline;
}

#main #help-button {
  cursor: pointer;
  font-size: 24px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 4;
  transition: bottom 0.25s;
}

#main #help-close {
  cursor: pointer;
  font-size: 24px;
  position: fixed;
  bottom: -50px;
  left: 10px;
  z-index: 4;
  transition: bottom 0.25s;
}

#main #help-screen {
  visibility: visible;
  display:flex;
  justify-content:center;
  align-items:center;
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 3;
  transition: opacity 0.25s;
}

#main #help-screen.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s, visibility 0.25s;
}

#main #help-dialog {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  font-size: 10px;
  line-height: 18px;
}



#sidebar {
  box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.1);
  color: #333333;
  font-family: 'Fredoka One', sans-serif;
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
  margin: 0 auto;
  overflow: scroll;
  height: 100%;
  background: rgba(255,255,255,0.8);
}

#sidebar .title {
  height: 60px;
  font-size: 24px;
  font-weight: 500;
  padding: 15px 15px 15px 15px;
  position: fixed;
  top: 0;
}

#sidebar #scrolling {
  position: absolute;
  overflow: scroll;
  top: 60px;
  bottom: 0px;
  width: 100%;
}

ul {
  margin: -10px 0 0 0;
  padding: 0;
}

li {
  cursor: default;
  font-size: 14px;
  opacity: 0.5;
  position: relative;
  list-style: none;
  padding: 10px 15px;
  min-height: 50px;
}

li:hover {
  opacity: 1;
}

li .info {
  margin-left: 10px;
  width: 160px;
  height: 50px;
  display:table-cell;
  vertical-align:middle;
}

li.unlocked {
  opacity: 1;
}